psycopg2-binary==2.8.6
trytond-account==5.8.0
trytond-account-asset==5.8.0
trytond-account-be==5.8.0
trytond-account-cash-rounding==5.8.0
trytond-account-credit-limit==5.8.0
trytond-account-de-skr03==5.8.0
trytond-account-deposit==5.8.0
trytond-account-dunning==5.8.0
trytond-account-dunning-email==5.8.0
trytond-account-dunning-fee==5.8.0
trytond-account-dunning-letter==5.8.0
trytond-account-es==5.8.0
trytond-account-eu==5.8.0
trytond-account-fr==5.8.0
trytond-account-fr-chorus==5.8.0
trytond-account-invoice==5.8.0
trytond-account-invoice-correction==5.8.0
trytond-account-invoice-history==5.8.0
trytond-account-invoice-line-standalone==5.8.0
trytond-account-invoice-secondary-unit==5.8.0
trytond-account-invoice-stock==5.8.0
trytond-account-payment==5.8.0
trytond-account-payment-braintree==5.8.0
trytond-account-payment-clearing==5.8.0
trytond-account-payment-sepa==5.8.0
trytond-account-payment-sepa-cfonb==5.8.0
trytond-account-payment-stripe==5.8.0
trytond-account-product==5.8.0
trytond-account-statement==5.8.0
trytond-account-statement-aeb43==5.8.0
trytond-account-statement-coda==5.8.0
trytond-account-statement-ofx==5.8.0
trytond-account-statement-rule==5.8.1
trytond-account-stock-anglo-saxon==5.8.0
trytond-account-stock-continental==5.8.0
trytond-account-stock-landed-cost==5.8.0
trytond-account-stock-landed-cost-weight==5.8.0
trytond-account-tax-cash==5.8.0
trytond-account-tax-rule-country==5.8.0
trytond-analytic-account==5.8.0
trytond-analytic-invoice==5.8.0
trytond-analytic-purchase==5.8.0
trytond-analytic-sale==5.8.0
trytond-attendance==5.8.0
trytond-authentication-sms==5.8.0
trytond-bank==5.8.0
trytond-carrier==5.8.0
trytond-carrier-percentage==5.8.0
trytond-carrier-weight==5.8.0
trytond-commission==5.8.1
trytond-commission-waiting==5.8.0
trytond-company==5.8.0
trytond-company-work-time==5.8.0
trytond-country==5.8.0
trytond-currency==5.8.0
trytond-customs==5.8.0
trytond-dashboard==5.8.0
trytond-edocument-uncefact==5.8.0
trytond-edocument-unece==5.8.0
trytond-google-maps==5.8.0
trytond-ldap-authentication==5.8.0
trytond-marketing==5.8.0
trytond-marketing-automation==5.8.1
trytond-marketing-email==5.8.0
trytond-notification-email==5.8.0
trytond-party==5.8.0
trytond-party-relationship==5.8.0
trytond-party-siret==5.8.0
trytond-product==5.8.0
trytond-product-attribute==5.8.0
trytond-product-classification==5.8.0
trytond-product-classification-taxonomic==5.8.0
trytond-product-cost-fifo==5.8.0
trytond-product-cost-history==5.8.0
trytond-product-measurements==5.8.0
trytond-product-price-list==5.8.0
trytond-product-price-list-dates==5.8.0
trytond-product-price-list-parent==5.8.0
trytond-production==5.8.0
trytond-production-outsourcing==5.8.0
trytond-production-routing==5.8.0
trytond-production-split==5.8.0
trytond-production-work==5.8.0
trytond-production-work-timesheet==5.8.0
trytond-project==5.8.0
trytond-project-invoice==5.8.0
trytond-project-plan==5.8.0
trytond-project-revenue==5.8.0
trytond-purchase==5.8.0
trytond-purchase-amendment==5.8.0
trytond-purchase-history==5.8.0
trytond-purchase-invoice-line-standalone==5.8.0
trytond-purchase-request==5.8.0
trytond-purchase-request-quotation==5.8.0
trytond-purchase-requisition==5.8.0
trytond-purchase-secondary-unit==5.8.0
trytond-purchase-shipment-cost==5.8.0
trytond-sale==5.8.0
trytond-sale-advance-payment==5.8.0
trytond-sale-amendment==5.8.0
trytond-sale-complaint==5.8.0
trytond-sale-credit-limit==5.8.0
trytond-sale-discount==5.8.1
trytond-sale-extra==5.8.0
trytond-sale-history==5.8.0
trytond-sale-invoice-grouping==5.8.0
trytond-sale-opportunity==5.8.0
trytond-sale-payment==5.8.0
trytond-sale-price-list==5.8.0
trytond-sale-product-customer==5.8.0
trytond-sale-promotion==5.8.0
trytond-sale-promotion-coupon==5.8.0
trytond-sale-secondary-unit==5.8.0
trytond-sale-shipment-cost==5.8.1
trytond-sale-shipment-grouping==5.8.0
trytond-sale-shipment-tolerance==5.8.0
trytond-sale-stock-quantity==5.8.0
trytond-sale-subscription==5.8.0
trytond-sale-subscription-asset==5.8.0
trytond-sale-supply==5.8.0
trytond-sale-supply-drop-shipment==5.8.0
trytond-sale-supply-production==5.8.0
trytond-stock==5.8.1
trytond-stock-assign-manual==5.8.0
trytond-stock-consignment==5.8.0
trytond-stock-forecast==5.8.0
trytond-stock-inventory-location==5.8.0
trytond-stock-location-move==5.8.0
trytond-stock-location-sequence==5.8.0
trytond-stock-lot==5.8.1
trytond-stock-lot-sled==5.8.0
trytond-stock-lot-unit==5.8.0
trytond-stock-package==5.8.0
trytond-stock-package-shipping==5.8.0
trytond-stock-package-shipping-dpd==5.8.0
trytond-stock-package-shipping-ups==5.8.1
trytond-stock-product-location==5.8.0
trytond-stock-secondary-unit==5.8.0
trytond-stock-shipment-measurements==5.8.0
trytond-stock-split==5.8.0
trytond-stock-supply==5.8.0
trytond-stock-supply-day==5.8.0
trytond-stock-supply-forecast==5.8.0
trytond-stock-supply-production==5.8.0
trytond-timesheet==5.8.0
trytond-timesheet-cost==5.8.0
trytond-user-role==5.8.0
trytond-web-shop==5.8.0
trytond-web-shop-vue-storefront==5.8.0
trytond-web-shop-vue-storefront-stripe==5.8.0
trytond-web-shortener==5.8.0
trytond-web-user==5.8.1
